/* @import url('https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700&subset=latin-ext'); */
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap'); */

@font-face {
  font-family: 'Anakotmai';
  src: url('fonts/anakotmai-medium.eot');
  src: url('fonts/anakotmai-medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/anakotmai-medium.woff2') format('woff2'),
       url('fonts/anakotmai-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anakotmai';
  src: url('fonts/anakotmai-bold.eot');
  src: url('fonts/anakotmai-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/anakotmai-bold.woff2') format('woff2'),
       url('fonts/anakotmai-bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Anakotmai';
  src: url('fonts/anakotmai-light.eot');
  src: url('fonts/anakotmai-light.eot?#iefix') format('embedded-opentype'),
       url('fonts/anakotmai-light.woff2') format('woff2'),
       url('fonts/anakotmai-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

:root {
    --bg-color: #fafafa;
    --bg-hover-color: #ececec;
    --body-bg: #fff;
    --primary-font-color: #000;
    --border-color: #dadada;
    --link-color: #2980b9;
    --footer-color: #ecf0f1;
    --footer-text-color: #000;
    --footer-link-color: #3498db;
}

[data-theme="dark"] {
  --bg-color: #9fa4aa;
  --bg-hover-color:#36404c;
  --body-bg: #10171e;
  --primary-font-color: #bfbfbf;
  --border-color: #6a6a6a;
  --link-color: #74b9ff;
  --footer-link-color: #74b9ff;
  --footer-text-color: #FFF;
  --footer-color: #10171e;
}

body{
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
  background: var(--body-bg);
  color: var(--primary-font-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.25em;
  font-weight: 500;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

h6 {
  font-size: 0.75em;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anakotmai', sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0;
}

p {
  font-family: 'Sarabun', sans-serif;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
}

strong, b {
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
}

.clear-nav { clear: both; }
.nav-left { float:left;  }
.nav-right { float:right; }

.container{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 50%;
  margin-left: auto; 
  margin-right: auto;
}

.profile li {
  display: inline;
  margin-right: 0.5em;
}

.profile li:last-child {
  margin-right: 0.5em;
}

.link-header{
  width: 100%; 
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background:var(--bg-color);
  border:1px dashed var(--border-color);
}

.link-header ul {
  margin: 0;
  padding: 0;
}

.link-header li {
  display: inline;
  margin-right: 1em;
}

.post-container{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 100%;
  margin-top: 1em;
}

.footer{
  width: 100%;
  background-color: var(--footer-color);
  color: var(--footer-text-color);
  font-size: 12px;
  margin: 0;
  padding: 2em 0;
}

.footer div, .footer ul {
  margin: 0;
  padding: 0;
}

.top_footer_link {
  text-align: right;
}

.footer li {
  display: inline;
  margin: 0 1em 0 0;
  padding: 0;
}

.footer li:last-child {
  display: inline;
  margin: 0;
}

.footer span .go_clear {
  clear: both;
}

.footer a {
  color: var(--footer-link-color);
  font-weight: bold;
}

.footer p {
  margin: 0 0 0.5em 0;
}
.post-list{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 5px 0 5px 0;
  margin-bottom: 5px;
}

.post-list:last-child {
  margin-bottom: 1em;
}

.post-list .post-title{
  width: 100%; 
  font-family: "Anakotmai", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: var(--link-color);
  margin-bottom: 0.5em;
}

.post-list .post-title:hover {
  text-decoration: underline;
}

.post-list .post-date{
  width: 20%; 
  text-align: left;
  font-size: 0.75em;
}

.post-header{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  background:var(--footer-color);
  border:1px solid var(--border-color);
}

.post-header .post-share{font-weight: 600; color: var(--primary-font-color); display: flex; justify-content: flex-end; align-items: center;}
.post-header .post-date{font-weight: 600;}
.post-header .post-share a{display: flex;}

.aligncenter {
  text-align: center;
}

.tags-container{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tags{display: flex; flex-wrap: wrap; justify-content: space-between;}
.tag{background: var(--bg-color); padding: 5px 10px; margin-right: 10px; margin-bottom: 10px; display: flex; align-items: center;}

.navigation{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 1em 0px 5px 0px;
  margin-bottom: 1em;
  border-top: 1px solid var(--border-color);

}
.navigation .prev{width: 45%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: var(--link-color); font-weight: 600; padding: 5px 10px;}
.navigation .next{width: 45%; color: var(--link-color); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: 600; text-align: right; padding: 5px 10px;}

.pagination{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 1em 0px 5px 0px;
  margin-bottom: 1em;
  border-top: 1px solid var(--border-color);
}

.pagination .prev{
  color: var(--link-color); 
  font-weight: 600;
}

.pagination .next{
  color: var(--link-color); 
  font-weight: 600; 
  text-align: right;
}

.blog-post-header {
  width: 100%;
  font-size: 18px;
  margin: 1em 0 0em 0;
  padding: 0px;
  font-weight: 500;
}

.blog-post-header h1 {
  font-family: 'Anakotmai', sans-serif;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.blog-post-header img {
  margin-bottom: 1em;
}

.blog-post-content{
  width: 80%;
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
}

.blog-post-content p {
  margin: 0.5em 0 0.5em 0;
  line-height: 1.75em;
  padding: 0;
}

.blog-post-content h1, 
.blog-post-content h2, .blog-post-content h3, 
.blog-post-content h4, .blog-post-content h5, 
.blog-post-content h6{
  margin: 0.5em 0 0.5em 0;
  line-height: 1.75em;
  padding: 0;
}

.blog-post-content pre {
  font-size: 14px; 
  max-width: 90vw; 
  overflow: auto;
  padding: 1em;
  font-family: monospace;
  margin: 1em 0 1em 0;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--primary-font-color);
}

.blog-post-content code {
  margin: 0.5em 0 0.5em 0;
  padding: 0;
  font-family: monospace;
  line-height: 1.5em;
  font-size: 12px;
}

.blog-post-content blockquote {
  margin: 1em 0 1em 0;
  padding: 1em 1em 2em 1em;
  font-size: 14px;
  font-style: italic;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--primary-font-color);
  line-height: 1.75em;
}

.blog-post-content cite {
  font-weight: 700;
  font-size: 1em;
  font-size: 14px;
  padding: 0;
  margin: 0.5em 0 0.5em 0;
  line-height: 1.75em;
}

.blog-post-content ul {
  margin: 1em 0 1em 1em;
  list-style-type: circle;
}

.blog-post-content ol {
  margin: 1em 0 1em 1em;
  list-style-type: decimal;
}

.blog-post-content li {
  margin: 0 0 0.5em 1em;
  line-height: 1.75em;
}

.blog-post-content li:last-child {
  margin: 0 0 0 1em;
  line-height: 1.75em;
}

.post-tag{background: var(--body-bg); border: 1px solid var(--border-color); color:var(--primary-font-color); padding: 5px 10px; margin: 0.25em; }
.post-tag:hover { background: var(--bg-hover-color); }
.profile{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 5px 0 1em 0;
  margin-top: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid var(--border-color);
}

.profile div {
  margin: 0 0 0.5em 0;
}

.profile div:last-child {
  margin: 1em 0 0 0;
}

.profile ul {
  margin: 0;
  padding: 0;
}

.profile-image-container{width: 40%;}
.profile-image{width: 128px; height: 128px; border-radius: 50%; transition: transform .2s;}
.profile-image:hover{transform: scale(1.05);}
.profile-about{width:100%; text-align: left;}
.profile-about h2 {margin: 0 0 0.25em 0; font-weight: 700;}
.profile a {
  color: #000000;
}

.profile a:hover {
  text-decoration: none;
}

.font-2{font-size: 2rem;}
.font-1-5{font-size: 1.5rem;}
.font-1-2{font-size: 1.2rem;}
.font-0-8{font-size: .8rem;}

.text-right{text-align: right;}
.w-100{width: 100%!important;}

a:hover{text-decoration: underline;}
a{color: var(--link-color); text-decoration: none;}
img{
  max-width: 100%;
  
}
figure{
  margin:0; padding: 15px 0 15px 0;
}

figure iframe {
  width: 100%;
}

figcaption {
  margin: 0.5em 0 0 0;
  font-size: 1em;
  line-height: 1.5em;
}

.social-icon{height: 24px;}

thead td, thead th {
  border-bottom: 1px solid var(--border-color);
  padding: 0 0 0.5em 0;
  text-align: center;
}

tbody td {
  border-bottom: 1px solid var(--border-color);
  padding: 0.5em 0 0.5em 0;
  text-align: center;
}

tbody td:last-child {
  border-bottom: 1px solid var(--border-color);
  padding: 0.5em 0 0 0;
  text-align: center;
}

@media (min-width: 769px) {
  .container {
    width: 60%;
  }

  .blog-post-content{
    width: 90%;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
  }

  .footer span {
    padding: 0 2em;
    margin: 0;
    display: flex;
  }

  .footer span .go_left {
    justify-content: flex-start;
    padding: 0 2em 0 2em;
    width: 50%;
  }
  
  .footer span .go_right {
    justify-content: flex-end;
    padding: 0 2em 0 2em;
    width: 50%;
    text-align: right;
  }
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 800px;
  }

  .blog-post-content{
    width: 70%;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1440px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 800px;
  }

  .blog-post-content{
    width: 60%;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container{width: 90%;}
  .mode:after {
    line-height: 22px;
    left: 1px;
  }
  h1{font-size: 1.5rem;}
  .profile-image{width: 96px; height: 96px;}

  .blog-post-content{
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
  }

  .footer span {
    padding: 0 2em;
    margin: 0;
    display: block;
  }

  .top_footer_link {
    text-align: left;
  }
  
  .footer span .go_left {
    justify-content: center;
    padding: 0 2em 1em 2em;
    width: 100%;
  }
  
  .footer span .go_right {
    justify-content: center;
    padding: 0 2em 0 2em;
    width: 100%;
    text-align: left;
  }
}

[data-theme="dark"] .social-icon{filter: invert(100%) sepia(50%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);}
.mode {float: right;position: relative;margin: auto;width: 42px;height: 22px;background: #F1F2F4;border-radius: 20px;cursor: pointer;}
.mode:after {content: "☀️";position: absolute;top: 0;left: 4px;font-size: 14px;height: 22px;line-height: 23px;text-align: center;transition: all 0.3s ease;}
.mode.active {background: #0771ca;}
.mode.active:after {content: "🌛";transform: translateX(20px);}
.mode.active span {transform: translateX(0);}
.mode span {position: absolute;z-index: 1;margin: 2px;display: block;width: 18px;height: 18px;background: white;border-radius: 50%;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);transform: translateX(20px);transition: all 0.4s ease;}