@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

@font-face {
  font-family: 'Anakotmai';
  src: url('fonts/anakotmai-medium.eot');
  src: url('fonts/anakotmai-medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/anakotmai-medium.woff2') format('woff2'),
       url('fonts/anakotmai-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anakotmai';
  src: url('fonts/anakotmai-bold.eot');
  src: url('fonts/anakotmai-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/anakotmai-bold.woff2') format('woff2'),
       url('fonts/anakotmai-bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Anakotmai';
  src: url('fonts/anakotmai-light.eot');
  src: url('fonts/anakotmai-light.eot?#iefix') format('embedded-opentype'),
       url('fonts/anakotmai-light.woff2') format('woff2'),
       url('fonts/anakotmai-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@layer base {

    .post-list {
        @apply py-4;
    }

    .post-title {
        @apply text-xl;
        @apply hover:underline;
        @apply block;
        @apply mb-1;
        font-family: 'Anakotmai', sans-serif;
        @apply hover:underline;
        @apply hover:decoration-2;
        @apply hover:underline-offset-2;
        @apply decoration-gray-600;
    }

    .post-date {
        @apply block;
        @apply text-xs;
    }

    .post-excerpt {
        @apply mt-2;
    }

    .tags-container {
        @apply flex;
        @apply flex-wrap;
    }

    .post-tag {
        @apply text-sm;
        @apply align-middle;
        @apply py-2;
        @apply px-2;
        @apply border;
        @apply border-solid;
        @apply border-gray-200;
        @apply bg-gray-100;
        @apply hover:bg-gray-400;
        @apply hover:text-white;
        @apply rounded;
        @apply mr-2;
        @apply my-1;
    }

    .post-header {
        @apply block;
        @apply text-base;
        @apply align-middle;
        @apply py-2;
        @apply px-2;
        @apply border;
        @apply border-solid;
        @apply border-gray-200;
        @apply bg-gray-100;
        @apply rounded;
        @apply my-2;
    }

    .post-header .header-date {
        @apply float-left;
        
    }

    .post-header .post-share {
        @apply float-right;
        @apply mx-0;
        @apply my-0;
        @apply py-0;
        @apply pr-0;
        @apply flex; 
        @apply space-x-2;
    }

    .blog-post-header {
        @apply text-3xl;
        @apply my-2;
        @apply font-extrabold;
        font-family: 'Anakotmai', sans-serif;
    }

    .blog-post-content h1 {
        @apply text-3xl;
        @apply my-2;
        @apply font-extrabold;
        font-family: 'Anakotmai', sans-serif;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content h2 {
        @apply text-2xl;
        @apply my-2;
        @apply font-extrabold;
        font-family: 'Anakotmai', sans-serif;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content h3 {
        @apply text-xl;
        @apply my-2;
        @apply font-extrabold;
        font-family: 'Anakotmai', sans-serif;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content h4 {
        @apply text-base;
        @apply my-2;
        @apply font-extrabold;
        font-family: 'Anakotmai', sans-serif;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content h5 {
        @apply text-sm;
        @apply my-2;
        @apply font-extrabold;
        font-family: 'Anakotmai', sans-serif;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content h6 {
        @apply text-xs;
        @apply my-2;
        @apply font-extrabold;
        font-family: 'Anakotmai', sans-serif;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content pre {
        @apply my-2;
        @apply px-4;
        @apply py-4;
        @apply bg-gray-600;
        @apply border-gray-800;
        @apply border-solid;
        @apply border;
        @apply font-mono;
        @apply text-sm;
        @apply leading-6;
        @apply text-white;
        @apply overflow-auto;
        @apply max-w-full;
    }

    .blog-post-content code {
        @apply my-2;
        @apply max-w-full;
    }

    .blog-post-content .language-plaintext {
        @apply my-2;
        @apply max-w-full;
    }

    .blog-post-content a {
        @apply text-cyan-600;
        @apply font-bold;
        @apply hover:underline;
        @apply hover:decoration-2;
        @apply hover:underline-offset-2;
        @apply decoration-cyan-600;
    }

    .blog-post-content table {
        @apply border-collapse;
        @apply border; 
        @apply border-solid;
        @apply border-gray-400;
        @apply rounded;
    }

    .blog-post-content blockquote {
        @apply pl-4;
        @apply py-2;
        @apply pr-2;
        @apply my-4;
        @apply border-l-4; 
        @apply border-solid;
        @apply border-gray-400;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content blockquote > p {
        @apply leading-6;
        font-family: 'Sarabun', sans-serif;
        @apply mb-1;
        @apply max-w-full;
    }

    .blog-post-content blockquote > cite {
        @apply text-sm;
        @apply font-bold;
        @apply before:content-['-_'];
        font-family: 'Anakotmai', sans-serif;
        @apply max-w-full;
    }

    .blog-post-content video {
        @apply my-4;
        @apply content-center;
        @apply justify-center;
        @apply text-center;
        @apply w-full;
    }

    .blog-post-content img {
        @apply my-4;
        @apply content-center;
        @apply justify-center;
        @apply text-center;
        @apply w-full;
    }

    .blog-post-content figure {
        @apply my-4;
        @apply content-center;
        @apply justify-center;
        @apply max-w-full;
    }

    .blog-post-content iframe {
        @apply my-4;
        @apply content-center;
        @apply justify-center;
        @apply w-full;
        @apply text-center;
    }

    .blog-post-content figcaption {
        @apply text-sm;
        @apply text-center;
        @apply pb-2;
        font-family: 'Sarabun', sans-serif;
    }

    .blog-post-content thead td {
        @apply px-2;
        @apply py-2;
        @apply bg-gray-200;
        font-family: 'Anakotmai', sans-serif;
    }

    .blog-post-content thead tr {
        @apply bg-gray-200;
    }

    .blog-post-content th {
        @apply px-2;
        @apply py-2;
        @apply bg-gray-200;
        font-family: 'Anakotmai', sans-serif;
    }

    .blog-post-content td {
        @apply px-2;
        @apply py-2;
        @apply border;
        @apply border-solid;
        @apply border-gray-200;
        @apply align-middle;
        @apply text-center;
        @apply bg-white;
        font-family: 'Sarabun', sans-serif;
    }

    .blog-post-content p {
        @apply text-base;
        @apply mb-4;
        @apply text-justify;
        font-family: 'Sarabun', sans-serif;
        line-height: 1.75em;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content ol {
        @apply list-inside;
        @apply list-decimal;
        @apply mb-4;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content ul {
        @apply list-inside;
        @apply list-disc;
        @apply mb-4;
        @apply max-w-screen-sm;
        @apply mx-auto;
    }

    .blog-post-content li {
        @apply mb-2;
        font-family: 'Sarabun', sans-serif;
        @apply leading-6;
    }

    .pagination {
        @apply grid;
        @apply grid-cols-3;
        @apply border-t;
        @apply border-gray-200; 
        @apply border-solid;
        @apply mb-2;
        @apply py-4;
    }

    .pagination .prev {
        @apply text-sm;
        @apply my-2;
        @apply font-extrabold;
        font-family: 'Anakotmai', sans-serif;
    }

    .prev a {
        @apply border;
        @apply border-gray-200; 
        @apply border-solid;
        @apply px-2;
        @apply py-2;
        @apply rounded-md;
        @apply hover:bg-gray-400;
        @apply hover:text-white;
    }

    .pagination .next {
        @apply text-sm;
        @apply my-2;
        @apply font-extrabold;
        @apply text-right;
        font-family: 'Anakotmai', sans-serif;
    }

    .next a {
        @apply border;
        @apply border-gray-200; 
        @apply border-solid;
        @apply px-2;
        @apply py-2;
        @apply rounded-md;
        @apply hover:bg-gray-400;
        @apply hover:text-white;
    }

    .pagination .page_number {
        @apply text-sm;
        @apply my-2;
        @apply font-normal;
        @apply text-center;
        font-family: 'Anakotmai', sans-serif;
    }

    .social-button {
        @apply inline; 
        @apply border-solid; 
        @apply border;
        @apply rounded;
        @apply border-gray-200; 
        @apply hover:bg-gray-400;
        @apply px-2;
        @apply py-2;
        @apply hover:text-white;
    }

    .post-header .share-button {
        @apply inline; 
    }

    .navigation {
        @apply border-t;
        @apply border-gray-200; 
        @apply border-solid;
        @apply mt-0;
        @apply mb-2;
        @apply py-4;
        @apply md:grid; 
        @apply md:grid-cols-2;
    }

    .navigation .prev {
        @apply text-xs;
        @apply mt-2;
        @apply mb-6;
        @apply md:mb-2;
        @apply font-normal;
        font-family: 'Anakotmai', sans-serif;
    }

    .navigation .next {
        @apply text-xs;
        @apply mb-2;
        @apply mt-6;
        @apply md:mt-2;
        @apply font-normal;
        @apply md:text-right;
        font-family: 'Anakotmai', sans-serif;
    }

    .navigation a {
        @apply border;
        @apply border-gray-200; 
        @apply border-solid;
        @apply px-2;
        @apply py-2;
        @apply rounded-md;
        @apply hover:bg-gray-400;
        @apply hover:text-white;
        @apply truncate;
    }

    .web3header {
        @apply w-full;
        @apply py-2;
        @apply bg-sky-600;
        @apply border-emerald-400;
        @apply border-solid;
        @apply rounded-md;
        @apply font-bold;
        @apply text-white;
    }

    .web3header p {
        @apply px-4 md:px-0;
        @apply leading-6;
        @apply text-xs;
    }

    .web3container {
        @apply container mx-auto max-w-screen-md;
    }

    .web3header a {
        @apply px-4 md:px-0;
        @apply font-bold;
        @apply leading-6;
        @apply text-xs;
    }
}